body {
  font-family: 'Quicksand';
  background-color: #eee;
  color: darkmagenta;
}

h1 {
  padding: 20px;
  width: 350px;
  margin: 20px auto;
  border-bottom: 2px dashed lightblue;
}

p {
  margin-bottom: 4px;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.App-header {
  width: 400px;
  margin-top: 50px;
  padding: 0 50px 20px;
  /* border-radius: 10px; */
  border: 4px solid lightblue;
  box-shadow: 0 5px 10px -5px;
  background-color: #fff;
}

.App-stats {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.App-stats--container {
  border-bottom: 2px dashed lightblue;
}

.App-stats--container h2 {
  display: inline;
}

.App-stats--cost {
  color: cornflowerblue;
  display: inline;
}

.text {
  outline: 0;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
}

.text:focus {
  outline: 4px solid lightblue;
}

button {
  color: darkmagenta;
  padding: 10px;
  margin: 5px;
  border: 3px solid darkmagenta;
  font-weight: 700;
}

button:focus {
  outline: 2px solid darkmagenta;
}

button.active {
  background-color: lightblue;
}
