.Workout {
  font-family: 'Roboto Mono', Courier, monospace;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.Workout-links {
  /* justify-content: space-between; */
  text-align: center;
}

.Workout-container {
  /* padding-top: 20px; */
  /* margin-top: 20; */
  /* display: flex;
  width: 80%; */
}

.Workout-head {
  padding: 10px 20px;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 10px;
  border: 4px solid tomato;
}

.Workout-subhead {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.boring {
  float: right;
}

.Workout-btn--next {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: large;
  background-color: black;
  border: 2px solid tomato;
  border-radius: 20px;
}

.Workout-btn--text {
  border: none;
  color: tomato;
  background-color: transparent;
  text-decoration: underline;
}

.Workout-btn--text:focus {
  outline: none;
  font-weight: bold;
}

.Workout-current {
  text-align: center;
}
