.Workout {
  font-family: 'Roboto Mono', Courier, monospace;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.Workout-links {
  /* justify-content: space-between; */
  text-align: center;
}

.Workout-list--next {
  transition: transform 0.5s;
  transform: translateY(-1.3em);
}

.Workout-item--next {
  transition: opacity 0.5s;
  opacity: 0;
}

.Workout-head {
  padding: 10px 20px;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 10px;
  border: 4px solid purple;
}

.Workout-subhead {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.boring {
  float: right;
}

.Workout-btn--action {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: large;
  background-color: black;
  border: 2px solid purple;
  border-radius: 20px;
}

.Workout-btn--action:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px purple;
}

.Workout-btn--text {
  border: none;
  color: tomato;
  background-color: transparent;
  text-decoration: underline;
}

.Workout-btn--text:focus {
  outline: none;
  font-weight: bold;
}

.Workout-current {
  text-align: center;
}
