body {
  font-family: 'Roboto Mono', Courier, monospace;
}

.Dentist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Dentist-container {
  width: 60%;
}

.Table-cell {
  width: 100%;
  height: 100%;
  padding: 5px;
  /* min height in case of no text */
  min-height: 30px;
}

.ReactTable .rt-td {
  padding: 0;
}

.cleaning {
  background-color: lightskyblue;
}

.filling {
  background-color: cornflowerblue;
}

.root-canal {
  background-color: slateblue;
}

.empty {
  background-color: yellowgreen;
}

.full {
  background-color: tomato;
}
