.Dentist {
  font-family: 'Roboto Mono', Courier, monospace;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.Dentist-container {
  display: flex;
  width: 80%;
}

.Dentist-buttons {
  flex-direction: column;
  flex-basis: 15%;
}

.Dentist-btn {
  border: 3px solid black;
  color: black;
  width: 80%;
  padding: 10px;
  margin: 5px;
  font-weight: 700;
}

.Dentist-btn:focus {
  outline: 3px solid black;
}

.Dentist-table {
  flex-grow: 4;
}

.Dentist-head {
  font-family: 'Montserrat', sans-serif;
  border: none;
  margin: 0px;
}

.Dentist-subhead {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.Table-cell {
  width: 100%;
  height: 100%;
  padding: 5px;
  /* min height in case of no text */
  min-height: 31px;
}

.Dentist .rt-td {
  padding: 0;
}

.Dentist .rt-thead.-header {
  background-color: darkgray;
  color: white;
  box-shadow: none;
}

.Dentist .rt-table {
  border: 0;
}

.Dentist .rt-th:first-child {
  background-color: #eee;
}

.cleaning {
  background-color: lightskyblue;
}

.filling {
  background-color: cornflowerblue;
}

.root-canal {
  background-color: slateblue;
}

.unavailable {
  background-color: slategray;
  color: white;
  /* background-color: lightgray; */
}

.empty {
  background-color: yellowgreen;
}

.full {
  background-color: tomato;
}

.snackbar {
  color: white;
  position: absolute;
  width: 500px;
  height: 50px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.error-space {
  height: 30px;
}

.error {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .Dentist-container {
    flex-direction: column;
  }
}
